<h2>Home work 9</h2>
<div>
  <h3>Список пользователей</h3>
  <!-- <input type="text" [(ngModel)]="email" placeholder="Serach any fields"/> -->
  <table ng-controller="FilterController as filterCtrl">
    <tr>
      <th>Name and username</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
    <tr>
      <th><input [(ngModel)]="searchName" /></th>
      <th><input [(ngModel)]="searchEmail" /></th>
      <th><input [(ngModel)]="searchAddress" /></th>
    </tr>
    <tr *ngFor="let l of user | search:searchName:searchEmail:searchAddress" (click)="onShow(l)">
      <td>{{l?.name}} ({{l?.username}})</td>
      <td>{{l?.email}}</td>
      <td>{{l?.address?.zipcode}} {{l?.address?.city}} {{l?.address?.street}} {{l?.address?.suite}}</td>
    </tr>
  </table>
</div>